@charset "UTF-8";

body {
    font-family: 'Press Start 2P', 'DotGothic16', cursive, sans-serif;
    color: #f3f3f3;
    background: #333;
}

header {
    padding: 4rem 1rem;
    text-align: center;
    line-height: 1.6;
}

main {
    padding-top: 100vh;
    padding-right: 1rem;
    padding-bottom: 100vh;
    padding-left: 1rem;
}


/*スクロールダウン全体の場所*/
.scrolldown {
    position: absolute;
    bottom: 1%;
    right: 50%;
    animation: arrowmove 1s ease-in-out infinite;
}

/*下からの距離が変化して全体が下→上→下に動く*/
@keyframes arrowmove {
    0% {
        bottom: 1%;
    }

    50% {
        bottom: 3%;
    }

    100% {
        bottom: 1%;
    }
}

/*Scrollテキストの描写*/
.scrolldown span {
    /*描画位置*/
    position: absolute;
    left: -22px;
    bottom: 10px;
    /*テキストの形状*/
    color: #eee;
    font-size: 12px;
    letter-spacing: 0.05em;
    /*縦書き設定*/
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    font-family: serif;
}

/* 矢印の描写 */
.scrolldown:before {
    content: "";
    /*描画位置*/
    position: absolute;
    bottom: 0;
    right: -6px;
    /*矢印の形状*/
    width: 1px;
    height: 20px;
    background: #eee;
    transform: skewX(-31deg);
}

.scrolldown:after {
    content: "";
    /*描画位置*/
    position: absolute;
    bottom: 0;
    right: 0;
    /*矢印の形状*/
    width: 1px;
    height: 50px;
    background: #eee;
}


h2 {
    font-size: 32px;
    text-align: center;
}

.content1 {
    opacity: 0;
    margin-top: 3rem;
    padding: 3rem;
    background: #5555;
    transition: opacity 1s;
}

.content1.is-show {
    opacity: 1;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 7rem;
    padding-bottom: 3rem;
}

.container__content {
    padding: 1.5rem;
    border: 1px solid #eee;
}

.container__content.is-turn {
    animation: turn 1s;
}

@keyframes turn {
    to {
        transform: rotateY(1turn);
    }
}

.circle-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    max-width: 60px;
    height: 60px;
    padding: 1rem;
    font-size: 10px;
    border: 1px solid #eee;
    border-radius: 50%;
}

.circle.is-active {
    color: #ab2121;
    background-color: #f6dc51;
}